<div class="row mt-5">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form [formGroup]="form" class="p-1" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>

      <div class="row">
        <div class="mb-3 col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" formControlName="primeiroNome" placeholder="Insira o Primeiro nome"
          [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}">
          <div class="invalid-feedback">Primeiro Nome é obrigatório!</div>
        </div>

        <div class="mb-3 col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" formControlName="ultimoNome" placeholder="Insira o Último nome"
          [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}">
          <div class="invalid-feedback">Último nome é obrigatório!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="">Email:</label>
        <input class="form-control" type="text" formControlName="email" placeholder="email@dominio.com"
        [ngClass]="{'is-invalid': f.email.errors && f.ultimoNome.touched}">
        <div class="invalid-feedback">Email é obrigatório!</div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">Insira um e-mail válido!</div>
      </div>

      <div class="mb-3">
        <label for="">Usuário:</label>
        <input class="form-control" type="text" formControlName="userName" placeholder="Insira o nome de Usuário"
        [ngClass]="{'is-invalid': f.userName.errors && f.userName.touched}">
        <div class="invalid-feedback">Usuário é obrigatório!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" formControlName="password" placeholder="Digite uma senha "
          [ngClass]="{'is-invalid': f.password.errors && f.password.touched}">
          <div *ngIf="f.password.errors?.required" class="invalid-feedback"> Senha é obrigatória!</div>
          <div *ngIf="f.password.errors?.minlength" class="invalid-feedback"> Senha deve ter no mínimo 6 caracteres!</div>
        </div>

        <div class="mb-3 col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" formControlName="confirmarPassword" placeholder="Confirme a Senha"
          [ngClass]="{'is-invalid': f.confirmarPassword.errors && f.confirmarPassword.touched}">
          <div *ngIf="f.confirmarPassword.errors?.required" class="invalid-feedback"> Confirmar senha é obrigatória!</div>
          <div *ngIf="f.confirmarPassword.errors?.minlength" class="invalid-feedback"> Senha deve ter no mínimo 6 caracteres!</div>
          <div *ngIf="f.confirmarPassword.errors?.mustMatch" class="invalid-feedback"> As senhas devem ser iguais!</div>
        </div>
      </div>

      <div class="row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="form-check-input mt-1" formControlName="checkBoxTermos" id="customCheck1">
          <label class="custom-control-label ms-1">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-12">
          <button [disabled]="form.valid" type="submit" class="btn btn-lg btn-success btn-block px-5" [disabled]="!form.valid">
            Cadastrar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
